body {
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Harmattan", sans-serif;
  font-size: 24px;
}

#it {
  height: 50%;
}

#first {
  padding: 5rem;
  background-color: rgb(224, 233, 238);
}

#second {
  padding: 5rem;
  background-color: rgb(236, 227, 227);
}

#third {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  background-color: rgb(236, 227, 227);
}

#press {
  margin-top: 6rem;
}

section #buhari-image {
  padding-left: 6rem;
}

#press-text {
  padding: auto;
}

#press-text h3 {
  font-size: 2rem;
  font-weight: 600;
}

#abt-image {
  margin-top: 12rem;
}

#abt {
  padding-right: 6rem;
}

#abt button {
  padding: 0.75rem 4rem;
  font-size: 1.5rem;
}

#abts {
  padding-left: 8rem;
}

#about-image {
  justify-content: space-between;
}

#about2-text {
  padding-right: 11rem;
}
